* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f8d7a6;
    font-family: 'Roboto', sans-serif;
}

.parallax-top {
    background-image: url("image/IMG_4395_3-1.png");
    height: 500px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
    padding-left: 1rem;
}  

.parallax-end {
    background-image: url("image/IMG_4395_3-1.png");
    height: 500px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 100%;
    height: auto;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heading {
    text-align: center;
    font-family: 'Lobster Two', cursive;
    color: #fff;
    width: 50%;
    padding-left: 1rem;
}

h1 {
    font-weight: 700;
    font-size: 5em;
    border-bottom: 1px solid #f06b18;
    margin: 0;
}

p {
    font-size: 2em;
    margin: 0;
}

h2, 
legend {
    font-family: 'Lobster Two', cursive;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: #f78b07;
}

ul {
    font-size: 1.15rem;
}

li {
    list-style-type: square;
    margin: 0.25rem;
}

fieldset {
    border: 2px solid black;
    width: 60%;
    min-width: 300px;
    margin: 2rem auto;
}

legend{
    border: 2px solid black;
    color: #f78b07;
}

label {
    display: block;
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
}

input {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 2px solid #f78b07;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    opacity: 0.5;
}

textarea {
    width: 100%;
    height: 10rem;
    padding: 0.25rem;
    border: 2px solid #f78b07;
    outline: none;
}

button {
    background-color: #f78b07;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
}

button a {
    text-decoration: none;
    color: #000000;
}

button:active, 
button:hover {
    background-color: #fff;
    border: 2px solid #f78b07;
}

footer {
    margin: 0 auto;
}

.socialmedia ul {
    display: flex;
    justify-content: center;
    margin: 0;
}

.socialmedia li {
    list-style-type: none;
    margin: 1rem;

}

.socialmedia a {
    color: white;
    font-size: 1.5rem;
}

@media (min-width: 670px) {
    .container-flex {
        flex-direction: row;
    }

    .bio {
        width: 40%;
    }

    .profile-picture {
        width: 40%;
    }

    .contact-page {
        flex-direction: row;
    }

    fieldset {
        width: 50%
    }

    .socialmedia {
        width: 40%;
    }

    h2 {
        text-align: left;
    }

    footer {
        position: absolute;
        right: 0;
    }

    .socialmedia ul {
        justify-content: flex-end;
        padding-right: 1rem;
    }
}