* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FEFEFC;
    font-family: 'Roboto', sans-serif;
}

 .parallax-top {
    background-image: url("image/IMG_4394.JPG");
    height: 500px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
  }  


  .parallax-end {
    background-image: url("image/IMG_4394.JPG");
    height: 500px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
 img {
     max-height: 500px;
     width: 100%;
     object-fit: cover;
     object-position: top;
 }

 .container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
 }

 .container-flex {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }

 h1 {
     text-align: center;
     color: #f06b18;
     font-family: 'Lobster Two', cursive;
     font-weight: 700;
     font-size: 3rem;
 }

 h2, 
 legend {
    font-family: 'Lobster Two', cursive;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: #f06b18;
 }

ul {
    font-size: 1.15rem;
}

li {
    list-style-type: square;
    margin: 0.25rem;
}

 fieldset {
    border: none;
    width: 60%;
    margin: 2rem auto;
   
 }
 legend{
     border: none;
     color: #f06b18;
 }

 label {
    display: block;
}
 input {
     width: 100%;
     margin: 0.5rem 0;
     padding: 0.5rem;
     border: 2px solid #f06b18;
     outline: none;
 }

textarea {
    width: 100%;
    height: 10rem;
    padding: 0.25rem;
    border: 2px solid #f06b18;
    outline: none;
}

button {
    background-color: #f06b18;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
}
button a {
    text-decoration: none;
    color: #fff;
}

button:hover {
    background-color: #C59074;
}

footer {
    margin: 0 auto;
    
}
.socialmedia ul {
    display: flex;
    justify-content: center;
    margin: 0;
}

.socialmedia li {
    list-style-type: none;
    margin: 1rem;   
}

.socialmedia a {
    color: #f06b18;
    font-size: 1.5rem;
}

 @media (min-width: 900px) {
     .container-flex {
        flex-direction: row;
     }
     .bio {
         width: 65%;
     }
     .profile-picture {
         width: 20%;
     }
     .contact-page {
         flex-direction: row;
     }
     fieldset {
         width: 50%
     }
    .socialmedia {
        width: 40%;
    }
    h2 {
        text-align: left;
    }
    footer {
        position: absolute;
        right: 0;
    }
    .socialmedia ul {
        justify-content: flex-end;
        padding-right: 1rem;
    }
 }